node_modules/
.firebase/
firebase-debug.log
.env
.env.local
.env.*.local
*.json
!package.json
!tsconfig.json
!firebase.json
!firestore.rules
!metadata.json
!firebase-applet-config.json
!firebase-blueprint.json